menuconfig INPUT_FINGERPRINT
    tristate "Fingerprint Config Choosen"
    default y
    help
    Say Y to can config finperprint manufacturer

if  INPUT_FINGERPRINT
    source "drivers/input/fingerprint/fpc/Kconfig"
    source "drivers/input/fingerprint/goodix/Kconfig"
endif
